@charset "utf-8";
.catline{
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-top: 30px;
}
.cart-wrap{
    width: 1000px;
    margin: 0 auto;
    padding: 26px 0 0;
}
.i-cart{
    background-image: url(https://i.lifevccdn.com/images/i_cart2.png);
    background-repeat: no-repeat;
}
.cart-title {
    height: 35px;
    position: relative;
    background-position: 0px 0px;
    margin: 0px 0px 22px;
    padding: 0px;
}
.cart-empty{
    width: 1000px;
    min-height: 270px;
    border-top: 1px solid #ccc;
    text-align: center;
    margin: 0 auto;
    display: none;
}
.i-cart-empty {
    width: 298px;
    height: 144px;
    overflow: hidden;
    display: block;
    background-position: 0 -326px;
    margin: 55px auto 0;
}
.cart-goshopping {
    height: 24px;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    color: rgb(0, 102, 204);
    line-height: 24px;
    font-family: 微软雅黑, "Microsoft YaHei", SimHei;
    margin: 10px auto 0px;
}
.cart-goshopping .arr {
    width: 20px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
    left: 8px;
    top: 8px;
}
.cart-goshopping .arr em {
    height: 0;
    border-style: solid;
    border-width: 7px 0 7px 7px;
    border-color: transparent #fff;
    font-size: 0;
    line-height: 0;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
}
.cart-goshopping .arr .arr-bd {
    border-color: transparent #06c;
    left: 2px;
    z-index: 8;
}
.cart-title .exchange {
    display: inline-block;
    position: absolute;
    left: auto;
    right: 0;
    top: 6px;
}
.cart-title .exchange .exchangeBtn {
    width: 68px;
    height: 25px;
    background: none;
    background-color: #fff;
    border: 1px solid #00982c;
    text-align: center;
    font-size: 14px;
    color: #00982c;
    line-height: 25px;
    text-decoration: none;
    margin: 0;
    padding: 0;
    float: right;
}
.cart-title .exchange .ipt-txt {
    width: 140px;
    height: 25px;
    font-size: 14px;
    line-height: 25px;
    font-family: 微软雅黑, "Microsoft YaHei", SimHei;
    border-width: 1px 0px 1px 1px;
    border-style: solid solid solid;
    border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(204, 204, 204);
    border-image: initial;
    border-right: 0px;
    outline: none 0px;
    margin: 0px;
    padding: 0px 5px 0px 6px;
    float: right;
}
.cart-title .exchange .exch-title {
    text-align: right;
    font-size: 16px;
    color: #000;
    line-height: 27px;
    padding-right: 8px;
    float: right;
}
.recom-list-title {
    width: 1000px;
    height: 25px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    margin: 50px auto 20px;
    display: none;
}
.recom-list-title .title {
    width: 157px;
    height: 17px;
    overflow: hidden;
    display: inline-block;
    background-position: 0 -287px;
    margin-left: 3px;
}
.buyTop{
    margin-top: 15px;
    overflow: hidden;
    display: none;
}
.productList li {
    width: 230px;
    height: 310px;
    overflow: hidden;
    float: left;
    margin: 10px 9px 0 11px;
    position: relative;
}
.proPic img{
    width: 230px;
    border: 1px solid #f2f2f2;
}
.productPrice {
    width: 230px;
    height: 20px;
    overflow: hidden;
    text-align: left;
    line-height: 22px;
    margin-top: 2px;
    text-decoration: none;
}
.productTitle{
    width: 230px;
    height: 20px;
    overflow: hidden;
    text-align: left;
    line-height: 22px;
}
.comments {
    color: #ab2c2b;
    line-height: 22px;
}
.comments a{
    font-weight: bold;
    text-decoration: none;
    margin: 0;
    padding: 3px 12px 3px 5px;
    color: #ab2c2b;
    border: 1px solid #fff;

}
.shoppingCartGrid {
    width: 1000px;
    display: block;
    clear: both;
    position: relative;
    padding-top: 20px;
    font-size: 14px;
    color: #4a4a4a;
    font-family: "微软雅黑","Microsoft YaHei","SimHei";
    overflow: hidden;
}
.goods_head {
    height: 30px;
    overflow: hidden;
    background-color: #efefef;
    padding: 15px 0;
}
.goods_head li {
    font-size: 16px;
    color: #4a4a4a;
    line-height: 30px;
    float: left;
    padding: 0;
    text-align: left;
}
.name {
    width: 400px;
    padding-left: 30px;
    padding-right: 14px;
}
.chk {
    float: left;
    text-align: left;
    cursor: pointer;
    overflow: hidden;
    margin-left: 30px;
}
.chk input{
    vertical-align: middle;
    margin-right: 10px;
}
.name>span{
    margin-left: 60px;
}
.shoppingCartGrid .quantity {
    width: 110px;
    text-align: center;
    padding-right: 10px;
}
.shoppingCartGrid .salePrice {
    width: 93px;
    text-align: center;
    padding-right: 15px;
}
.shoppingCartGrid .subTotal {
    width: 100px;
    text-align: center;
}
.shoppingCartGrid .operator {
    width: 60px;
    padding-left: 60px;
}
.cart-body {
    position: relative;
    margin-top: 40px;
    background-color: #fffaef;
}
.goods_row {
    width: 1000px;
    display: block;
    float: none;
    clear: both;
    text-align: left;
    padding: 0;
    position: relative;
    overflow: hidden;
}
.goods_row li {
    height: 69px;
    float: left;
    padding: 28px 0 11px 0;
    position: relative;
   
}
.orderproPic, .orderproTt {
    overflow: hidden;
    float: left;
    text-align: left;
}
.orderproPic {
    width: 92px;
}
.orderproPic img {
    width: 78px;
    height: 78px;
    border: 1px solid #ccc;
}
.orderproTt {
    width: 198px;
    line-height: 22px;
    margin-top: -4px;
}
.shoppingCartGrid a{
    color: #4a4a4a;
}
.NumberChange {
    width: 86px;
    height: 26px;
    display: block;
    margin: 0 auto;
    position: relative;
}
.goods_row .quantity, .goods_row .salePrice,  .goods_row .subTotal, .goods_row .operator {
    padding-top: 24px;
    padding-bottom: 15px;
}
.NumberChange .dec, .NumberChange .inc {
    width: 22px;
    height: 24px;
    display: block;
    background-color: #fff;
    border: 1px solid #cbcbcb;
    cursor: pointer;
    position: absolute;
    top: 0;
    z-index: 5;
}
.NumberChange .dec {
    border-right-color: transparent;
    left: 0;
}
/* .NumberChange .disabled{
    cursor: default;
    border-color: #dedede;
    border-right-color: transparent;
} */
.NumberChange .dec i {
    width: 8px;
    height: 1px;
    display: block;
    cursor: pointer;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #4a4a4a;
    margin: 11px auto 0;
}
.NumberChange .ipt-num {
    width: 38px;
    height: 24px;
    display: block;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 14px;
    color: #4a4a4a;
    font-family: arial,tahoma,"Hiragino Sans GB","å®‹ä½“",sans-serif;
    position: absolute;
    left: 23px;
    top: 0;
    z-index: 8;
}
.NumberChange .inc {
    border-left-color: transparent;
    right: 0;
    text-decoration: none;
}
.NumberChange .inc i {
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    color: #4a4a4a;
    line-height: 24px;
    font-style: normal;
    font-family: tahoma,arial,"Hiragino Sans GB","å®‹ä½“",sans-serif;
}
.Delete:hover,.del-bx .del:hover{
    color: #6fbd00;
}
#btnCheckout:hover{
    background-color: #6fbd00;
    border: 1px solid #6fbd00;
}
.cartgrid-end {
    width: 1000px;
    height: 30px;
    overflow: hidden;
    float: none;
    clear: both;
    margin: 0 auto;
}
.savingtip {
    height: 20px;
    border-top: 1px solid #9b9b9b;
    float: none;
    clear: both;
    text-align: right;
    font-size: 14px;
    color: #4a4a4a;
    line-height: 20px;
    margin: 0 auto;
    padding: 15px 30px;
}
.savingtip .del-bx {
    float: left;
    text-align: left;
    font-size: 14px;
    color: #4a4a4a;
}
.del-bx .chk{
    margin-left: 0;
}
.del-bx .del {
    display: inline-block;
    color: #4a4a4a;
    text-decoration: none;
    margin-left: 26px;
}
.cart-panel {
    height: 68px;
    border-bottom: 1px solid #9b9b9b;
    border-top: 1px solid #9b9b9b;
    font-size: 14px;
    color: #4a4a4a;
    line-height: 30px;
    margin: 0 auto 30px;
    position: relative;
}
.cart-panel .deliveryPanel {
    min-width: 130px;
    float: left;
    margin-top: 19px;
    padding-left: 30px;
}
.deliveryPanel .label {
    display: inline-block;
    float: left;
    font-size: 14px;
    color: #9b9b9b;
}
.deliveryPanel .info {
    width: 100px;
    height: 30px;
    float: left;
    position: relative;
    margin-left: 10px;
    max-width: 100px;
}
.info .address {
    min-width: 50px;
    height: 20px;
    display: inline-block;
    text-align: left;
    font-size: 12px;
    color: #333;
    line-height: 20px;
    text-decoration: none;
    background: url(data:image/gif;base64,R0lGODlhBwAEAIABAFdXV////yH/C1hNUCBEYXRhWE1QPD94cGFja…gXFhUUExIREA8ODQwLCgkIBwYFBAMCAQAAIfkEAQAAAQAsAAAAAAcABAAAAgiED4EZag1ZKAA7) no-repeat scroll 96% center #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    margin: 3px 0 0 2px;
    padding: 0 2px 0 5px;
    position: relative;
}

.deliveryPanel .info .address {
    height: 28px;
    border: 1px solid #9b9b9b;
    background: none;
    font-size: 14px;
    line-height: 28px;
    margin: 0;
    padding: 0 6px 0 9px;
    max-width: 100px;
}
.deliveryPanel .info .address em {
    max-width: 56px;
    max-height: 28px;
    overflow: hidden;
    display: inline-block;
    margin-right: 27px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;
    -o-text-overflow: ellipsis;
}
.i-cart {
    background-image: url(https://i.lifevccdn.com/images/i_cart2.png);
    background-repeat: no-repeat;
}
.info i.i-cart {
    width: 17px;
    height: 8px;
    overflow: hidden;
    display: inline-block;
    background-position: -281px -45px;
    position: absolute;
    right: 6px;
    top: 10px;
}
.cart-panel .btn-checkout {
    width: 178px;
    height: 68px;
    overflow: hidden;
    display: block;
    float: right;
    background-color: #a7c773;
    border: 1px solid #a7c773;
    background-position: 51px -84px;
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    right: 0;
    top: -1px;
}
.cart-panel .cart-amount {
    max-width: 275px;
    float: right;
    text-align: right;
    line-height: 28px;
    padding: 5px 200px 0 0;
}
.cart-amount p{
    height: 63px;
    line-height: 60px;
}
.contain-quantity {
    display: inline-block;
    margin-right: 12px;
}
.cart-amount .stress {
    font-size: 19px;
    color: #ab2c2b;
    font-weight: bold;
    font-family: Arial,Helvetica,sans-serif;
    display: inline-block;
    position: relative;
    margin: 0 3px;
}
.cart-amount .stress {
    font-size: 19px;
    color: #ab2c2b;
    font-weight: bold;
    font-family: Arial,Helvetica,sans-serif;
    display: inline-block;
    position: relative;
    margin: 0 3px;
}




