@charset "utf-8";
.shoppingCont {
    width: 1000px;
    margin: 40px auto 10px;
}
.shoppingBox{
    width: 998px;
    height: 558px;
    border: 1px solid #ccc;
}
.dt-left{
    width: 420px;
    float: left;
    margin: 13px 0 0;
}
.dt-zoom {
    width: 400px;
    height: 400px;
    overflow: hidden;
    border: 1px solid #d0d0d0;
    margin-left: 13px;
    position: relative;
}
#spic img {
    width: 400px;
    height: 400px;
}
#sf {
    width: 50px;
    height: 50px;
    background: url(../img/bg.png);
    cursor: move;
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
}
#bf {
    width: 400px;
    height: 500px;
    border: 1px solid #d0d0d0;
    overflow: hidden;
    position: absolute;
    left: 610px;
    top: 53px;
    display: none;
    z-index: 100;
}
#bf img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 800px;
    height: 800px;
}
.dt-thumb {
    width: 420px;
    overflow: hidden;
    margin-top: 19px;
    position: relative;
}
.dt-thumb .list {
    width: 380px;
    height: 74px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}
.list ul {
    width: 1000px;
}
.dt-thumb .list li {
    width: 76px;
    overflow: hidden;
    float: left;
    cursor: pointer;
}
.dt-thumb .list a{
    width: 70px;
    height: 70px;
    overflow: hidden;
    display: block;
    border: 2px solid #fff;
    text-decoration: none;
    margin: 0;
    padding: 0;
    position: relative;
    cursor: pointer;
}
.dt-thumb .list img {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border: 0;
}
.dt-thumb .list .selected a{
    border-color: #00982c;
    cursor: default;
}
.dt-thumb .btn {
    width: 15px;
    height: 30px;
    display: block;
    overflow: hidden;
    text-decoration: none;
    line-height: 0;
    position: absolute;
    top: 22px;
    z-index: 5;
}
.dt-thumb .btn.pre {
    left: 4px;
}
.dt-thumb .btn i,.dt-thumb .btn b {
    display: inline-block;
    border-style: solid;
    border-color: transparent #888;
    line-height: 0;
    position: absolute;
    top: 0;
    z-index: 1;
    cursor: pointer;
}
.dt-thumb .btn i {
    border-color: transparent #fff;
    z-index: 3;
}
.dt-thumb .btn.pre i, .dt-thumb .btn.pre b {
    border-width: 11px 11px 11px 0;
}
.dt-thumb .btn.next {
    right: 5px;
}
.dt-thumb .btn.next b {
    right: 0;
}
.dt-thumb .btn.next i,.dt-thumb .btn.next b {
    border-width: 11px 0 11px 11px;
}

.dt-thumb .btn.next i {
    right: 1px;
}
.dt-right {
    width: 535px;
    float: right;
    margin-top: 13px;
    padding-right: 19px;
}
.dt-right h1 {
    font-size: 24px;
    line-height: 32px;
    color: #333;
    font-weight: normal;
    margin: 0;
    padding: 0 0 5px;
}
.price-panel {
    width: 510px;
    overflow: hidden;
    background-color: #f2f2f2;
    margin: 11px 0 0;
    padding: 13px 11px 6px 14px;
}
.price-panel .price-wrap {
    padding-bottom: 4px;
}
.price-panel .price {
    display: inline-block;
    text-align: left;
    font-size: 32px;
    color: #ab2c2b;
    font-weight: bold;
    line-height: 28px;
    font-family: Arial,Helvetica,sans-serif;
    margin-right: 10px;
}
.spec-wrap dl {
    overflow: hidden;
    padding-bottom: 5px;
}
.no-select {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.spec-wrap dt {
    width: 40px;
    overflow: hidden;
    float: left;
    text-align: left;
    font-size: 12px;
    color: #333;
    line-height: 22px;
}
.letter2-spacing {
    letter-spacing: 3px;
    margin-right: -3px;
}
.spec-wrap dd {
    width: 488px;
    float: left;
    overflow: hidden;
    font-size: 12px;
    color: #333;
    line-height: 22px;
    padding-left: 7px;
}
.buy_total li {
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    cursor: pointer;
    text-indent: -20px;
    margin-right: 2px;
    float: left;
    overflow: hidden;
    margin-right: 0;
}
.i-detail {
    background-image: url(http://i1.lifevccdn.com/images/detail/iconItem2_v2.png);
    background-repeat: no-repeat;
}
.buy_total li.mins {
    background-position: -17px -388px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.buy_total li.input {
    width: 34px;
    height: 22px;
    border: medium none;
    padding: 0 4px;
}
.buy_total li.input input {
    float: left;
    padding: 1px 3px;
    width: 26px;
    height: 18px;
    border: 1px solid #ddd;
    overflow: hidden;
    line-height: 17px;
    text-align: center;
}
.buy_total li.add {
    background-position: -40px -388px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.spec-wrap{
    margin-top: 60px;
}
.addShoppingCart {
    position: relative;
    margin-top: 70px;
}
.cartButton {
    overflow: hidden;
    padding: 26px 0 15px;
    position: relative;
    float: none;
    clear: both;
}
.cartButton .btn-cart {
    height: 54px;
    display: inline-block;
    float: left;
    background-color: #00982c;
    text-align: center;
    font-size: 26px;
    color: #fff;
    line-height: 54px;
    text-decoration: none;
    margin: 0 18px 0 0;
    padding: 0 20px;
    cursor: pointer;
}
.dt-cart-panel {
    height: 24px;
    color: #00982c;
    float: none;
    clear: both;
}
.dt-cart-panel .dt-cart {
    height: 22px;
    display: inline-block;
    float: left;
    border: 1px solid #00982c;
    text-align: left;
    font-size: 14px;
    color: #00982c;
    line-height: 22px;
    font-weight: bold;
    text-decoration: none;
    padding: 0 20px 0 14px;
    position: relative;
    cursor: pointer;
}
.bg .i-detail {
    background-image: url(http://i1.lifevccdn.com/images/detail/iconItem2_v2.png);
    background-repeat: no-repeat;
}
.dt-cart-panel .dt-cart span {
    display: inline-block;
    float: left;
}
.dt-cart-panel .dt-cart .dt-total-quantity {
    width: 16px;
    height: 16px;
    background-position: -312px 0;
    text-align: center;
    color: #fff;
    line-height: 16px;
    font-family: Arial,Helvetica,sans-serif;
    cursor: pointer;
    margin: 3px 0 0 3px;
}
.dt-cart-panel .dt-cart .dt-total-amount {
    font-size: 16px;
    font-family: Arial,Helvetica,sans-serif;
    line-height: 24px;
    padding-left: 25px;
    cursor: pointer;
    display: none;
}
.dt-cart-panel .dt-settle.hide {
    display: none;
}

.dt-cart-panel .dt-settle {
    width: 45px;
    height: 22px;
    display: inline-block;
    float: left;
    border: 1px solid #00982c;
    text-align: center;
    font-size: 14px;
    color: #00982c;
    line-height: 22px;
    font-weight: bold;
    text-decoration: none;
    padding: 0 28px 0 14px;
    position: relative;
    left: 15px;
    cursor: pointer;
}
.dt-cart-panel .dt-settle i {
    display: inline-block;
    border-style: solid;
    border-color: transparent #00982c;
    border-width: 5px 0 5px 5px;
    line-height: 0;
    position: absolute;
    right: 14px;
    top: 6px;
    z-index: 3;
}
